name: Build and Push API Image

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'agroai_api/**'
      - '.github/workflows/build-and-push.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write   # for OIDC
      contents: read

    env:
      AWS_REGION: us-west-1
      ECR_REPOSITORY: agroai-manulife-pilot-api

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::292039821285:role/lamine_agroai-api
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image
        id: build-and-push-step
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
        run: |
          GIT_SHA=${GITHUB_SHA::7}
          IMAGE_TAG=v1.${GITHUB_RUN_NUMBER}-${GIT_SHA}

          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
