name: CD - Terraform apply (us-west-1)

on:
  workflow_dispatch: {}
  push:
    paths:
      - "terraform/**"
      - ".github/workflows/cd-terraform-apply.yml"

env:
  AWS_REGION: us-west-1

jobs:
  tf-apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Init
        run: terraform init -reconfigure -upgrade

      - name: Validate
        run: terraform validate

      - name: Plan
        run: terraform plan -no-color -lock-timeout=5m

      - name: Apply
        run: terraform apply -auto-approve -no-color -lock-timeout=5m
